@model IEnumerable<BookS.Models.SACH>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h3>THÔNG TIN CHI TIẾT SÁCH</h3>
<div class="col-md-12">
    <div class="col-md-3">
        <img src="~/image/@Model.Single().Anhbia" class="img-thumbnail"/>
    </div>
    <div class="col-md-9">
        <h2>@Model.Single().TenSach</h2>
        <p>@Model.Single().Mota</p>
        <h2>@Model.Single().GiaBan VND</h2>
        <button class="btn btn-danger">Đặt mua</button>
    </div>
</div>