@using BookS.Models
@model BookS.Models.DEVICE
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}

<h3>THÔNG TIN CHI TIẾT</h3>
<div id="top" class="col-md-12" style="background-color:#F6F6F6">
    <div class="container col-md-10 col-md-offset-1">
        <div>
            <div class="col-md-6">
                <h3>Harware</h3>
                <ul>
                    <li>1.1GHz dual-core Intel Core m3, Turbo Boost up to 2.2GHz</li>
                    <li>8GB 1866MHz LPDDR3 SDRAM</li>
                    <li>256GB PCIe-based onboard flash storage</li>
                    <li>Intel HD Graphics 515</li>
                    <li>Backlit Keyboard (English) & User's Guide</li>
                    <li>Accessory Kit</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Software</h3>
                <ul>
                    <li>macOS Sierra</li>
                    <li>Photos, iMovie, GarageBand</li>
                    <li>Pages, Numbers, Keynote</li>
                </ul>
            </div>
        </div>
    </div>
    <div style="padding-bottom:100px;" class="container">
        @{
            for (var i = 0; i < 10; i++)
            {
                if (i % 2 == 0)
                {
                    <div style="margin-bottom:50px;" class="col-md-12">
                        <div class="col-md-4" style="padding-top:70px;">
                            <p>It’s faster and more powerful than before, yet remarkably thinner and lighter. It has the brightest, most colorful Mac notebook display ever. And it introduces the Touch Bar — a Multi-Touch enabled strip of glass built into the keyboard for instant access to the tools you want, right when you want them. The new MacBook Pro is built on groundbreaking ideas. And it’s ready for yours.</p>
                        </div>
                        <div class="col-md-8">
                            <img src="https://images.apple.com/v/macbook-pro/l/images/overview/performance_fans_large.jpg" style="width:100%" />
                        </div>
                    </div>
                    
                }
                else
                {
                    <div style="margin-bottom:50px;" class="col-md-12">
                        <div class="col-md-8">
                            <video src="~/image/2f87f3cb-baa2-43b0-afb1-3fbf2181f7c2.mp4" autoplay loop style="width:100%"></video>
                        </div>
                        <div class="col-md-4" style="padding-top:70px;">
                            <p>It’s faster and more powerful than before, yet remarkably thinner and lighter. It has the brightest, most colorful Mac notebook display ever. And it introduces the Touch Bar — a Multi-Touch enabled strip of glass built into the keyboard for instant access to the tools you want, right when you want them. The new MacBook Pro is built on groundbreaking ideas. And it’s ready for yours.</p>
                        </div>

                    </div>
                }
            }
        }
    </div>

    <div>

    </div>
</div>

