@model IEnumerable<BookS.Models.CHU_DE>
   <p style="font-weight:bold">CHỦ ĐỀ SÁCH</p>
   <div class="list-group">
       @foreach (var item in Model)
       {
            <a href="@Url.Action("SPChude","Home",new {id = item.MaCD})" class="list-group-item">
                @item.TenChuDe
            </a>
       }
   </div>