@model IEnumerable<BookS.Models.DEVICE>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="padding-top:50px;">
    <h3>Sản phẩm bán chạy nhất</h3>
    <hr />
    @{
        var dem = 0;
        foreach (var i in Model)
        {
            if (dem == 3)
            {
                break;
            }
            else
            {
                <div class="col-md-4 text-center">
                    <div>
                        <img src="~/image/DEVICE/@i.AnhBia" style="width:280px;height:280px" />
                    </div>
                    <div>
                        <h4>@i.TenDevice</h4>

                    </div>
                </div>
            }
            dem++;

        }
    }
</div>



<div style="margin-top:400px;">

    <h3>Sản phẩm mới nhất</h3>
    <hr />
    @{
        var dem2 = 0;
        foreach (var i in Model)
        {
            if (3 <= dem2 && dem2 < 7)
            {
                <div class="col-md-4 text-center">
                    <div>
                        <img src="~/image/DEVICE/@i.AnhBia" style="width:280px;height:280px" />
                    </div>
                    <div>
                        <h4>@i.TenDevice</h4>
                    </div>
                </div>
            }

            dem2++;

        }
    }
</div>

    <div class="col-md-10 col-lg-offset-1">
        <hr />
        <iframe src="https://www.youtube.com/embed/WVPRkcczXCY?ecver=2" width="100%" height="480" frameborder="0" style="" allowfullscreen></iframe>
    </div>

