
@{
    ViewBag.Title = "Introduct";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <h2>Introduct</h2>
        <div>

        </div>
    </div>
    
</div>


