@using BookS.Models
@model List<Giohang>

@{
    ViewBag.Title = "Đơn đặt hàng";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 style="text-align: center">MACBOOK PRO</h2>

<h3 style="text-align:center">Choose your new MacBook Pro.</h3>

<div class="row col-lg-offset-5" style="padding-left:20px;margin-top:50px;">
    <div class="btn-group btn-group-lg" role="group" aria-label="Large button group" style="">
        <button type="button" class="btn btn-default">13-inch</button>
        <button type="button" class="btn btn-default">15-inch</button>
    </div>
</div>
<div style="text-align:center;margin-top:50px;">
    <h3>13-inch MacBook Pro</h3>
    <h4>Get help buying.  Chat now with coo</h4>
</div>

<div style="margin-top:50px">
    <div class="col-md-12">
        <div class="col-md-10 container">
            <ul class="col-md-offset-2" style="list-style-type:none">
                <li class="col-md-4" style="text-align:center">
                    <div id="top" >
                        <img src="https://dummyimage.com/400x400/000/fff" style="width:70%;height:70%" />
                    </div>
                    <div id="bottom">
                        <ul style="margin-top:30px;text-align:left">
                            <li>2.0GHz dual-core Intel Core i5 processor</li>
                            <li>Turbo Boost up to 3.1GHz</li>
                            <li>8GB 1866MHz memory</li>
                            <li>256GB PCIe-based SSD1</li>
                            <li>Intel Iris Graphics 540</li>
                            <li>Two Thunderbolt 3 ports</li>
                        </ul>
                        <h2>520$</h2>
                        <button type="button" class="btn btn-success">
                            Add to Cart
                            @Url.Action("ThemGiohang", "Giohang")
                        </button>
                    </div>
                </li>
                <li class="col-md-4" style="text-align:center">
                    <div id="top">
                        <img src="https://dummyimage.com/400x400/000/fff" style="width:70%;height:70%" />
                    </div>
                    <div id="bottom">
                        <ul style="margin-top:30px;text-align:left">
                            <li>2.0GHz dual-core Intel Core i5 processor</li>
                            <li>Turbo Boost up to 3.1GHz</li>
                            <li>8GB 1866MHz memory</li>
                            <li>256GB PCIe-based SSD1</li>
                            <li>Intel Iris Graphics 540</li>
                            <li>Two Thunderbolt 3 ports</li>
                        </ul>
                        <h2>520$</h2>
                        <button type="button" class="btn btn-success">
                            Add to Cart
                            @Url.Action("ThemGiohang", "Giohang")
                        </button>
                    </div>
                    
                </li>
                <li class="col-md-4" style="text-align:center">
                    <div id="top">
                        <img src="https://dummyimage.com/400x400/000/fff" style="width:70%;height:70%" />
                    </div>
                    <div id="bottom">
                        <ul style="margin-top:30px;text-align:left">
                            <li>2.0GHz dual-core Intel Core i5 processor</li>
                            <li>Turbo Boost up to 3.1GHz</li>
                            <li>8GB 1866MHz memory</li>
                            <li>256GB PCIe-based SSD1</li>
                            <li>Intel Iris Graphics 540</li>
                            <li>Two Thunderbolt 3 ports</li>
                        </ul>
                        <h2>520$</h2>
                        <button type="button" class="btn btn-success">
                            Add to Cart
                            @Url.Action("ThemGiohang", "Giohang")
                        </button>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
<style>
    
</style>


