@using BookS.Models
@model List<Giohang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 style="text-align:center">Giỏ Hàng</h2>
    <div class="col-md-10 col-md-offset-1" style="height:100px;text-align:center">
        <h3>Giao hàng miễn phí</h3>
    </div>

    <div class="col-md-10 col-md-offset-1" style="margin-top:50px;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>image</th>
                    <th>information</th>
                    <th>price</th>
                    <th>price</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-2">
                        <img src="https://dummyimage.com/400x400/000/fff" style="width:70%"/>
                    </td>
                    <td class="col-md-4">
                        <ul>
                            <li>2.0GHz dual-core Intel Core i5 processor, Turbo Boost up to 3.1GHz</li>
                            <li>8GB 1866MHz memory</li>
                            <li>256GB PCIe-based SSD</li>
                            <li>Intel Iris Graphics 540</li>
                            <li>Two Thunderbolt 3 ports</li>
                            <li>Force Touch trackpad</li>

                        </ul>
                    </td>
                    <td>
                        $1,299.00
                    </td>
                    <td>
                        <input type="number" value="1"/>
                    </td>
                    <td>
                        <h4> $1,299.00</h4>
                    </td>
                    <td><button type="button" class="btn btn-danger">delete</button></td>
                </tr>
                <tr>
                    <td class="col-md-2">
                        <img src="https://dummyimage.com/400x400/000/fff" style="width:70%" />
                    </td>
                    <td class="col-md-4">
                        <ul>
                            <li>2.0GHz dual-core Intel Core i5 processor, Turbo Boost up to 3.1GHz</li>
                            <li>8GB 1866MHz memory</li>
                            <li>256GB PCIe-based SSD</li>
                            <li>Intel Iris Graphics 540</li>
                            <li>Two Thunderbolt 3 ports</li>
                            <li>Force Touch trackpad</li>

                        </ul>
                    </td>
                    <td>
                        $1,299.00
                    </td>
                    <td>
                        <input type="number" value="1" />
                    </td>
                    <td>
                        <h4> $1,299.00</h4>
                    </td>
                    <td><button type="button" class="btn btn-danger">delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-10 col-md-offset-1" style="height:100px;text-align:center">
        
        <a href="@Url.Action("thongTinGiaoHang","Giohang")">tiep yuc</a>
    </div>


