
@{
    ViewBag.Title = "thongTinGiaoHang";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="row">
    <div class="col-md-10 col-md-offset-1" style="height:500px;">
        <div id="left" class="col-md-6">
            <div>
                @Html.Action("Dangnhap", "NguoiDung")
               
            </div>

            <div style="padding-bottom:20px">
                @Html.Action("Dangky", "NguoiDung")
        </div>
            
        </div>
        
        <div id="right" class="col-md-6" style="height:500px;">
            <div style="margin-top:20px">
               <div style="margin-top:230px;">
                   <h3>@Html.ActionLink("tro ve gio hang","GioHang","Giohang")</h3>
                   <h3>Guest Checkout</h3>
                   <h4>Proceed to checkout, and you can create an Apple ID at the end.</h4>
                   <div class="form-group">
                       <div class="col-sm-10">
                           <a href="@Url.Action("checkOut","Giohang")" class="btn btn-primary">Continue as guest</a>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>


