
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div style="text-align:center">
    <h3>Chúc mừng bạn mua hàng thành công</h3>
    <h3>Chúng tôi liên hệ với bạn qua sô @ViewBag.sdt trong 5 phút nữa</h3>
    <h3>cảm ơn!</h3>
</div>


