<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QuanLySach</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/shop-homepage.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!--Navbar Header Start Here-->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Admin</a>
            </div>
            <!--Navbar Header End Here-->
            <!--Menu Start Here-->
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Thêm sách mới</a></li>
                <li><a href="#">Quản lý sách</a></li>
                <li><a href="#">Liên hệ</a></li>


            </ul>
           



            <!--Menu End Here-->
        </div>
    </nav>



    <div>
        @RenderBody()
    </div>









    <!-- /.container -->
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
